@font-face {
    font-family: RioGrande;
    src: url(../fonts/RioGrande.ttf);
}
@font-face {
    font-family: ConeriaScript;
    src: url(../fonts/ConeriaScript.ttf);
}
.content {
    width: 100%;
    height: 100vh; /* value is equal to percentage. vh = viewport height */
    margin: auto;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 0px -1px 10px 1px;
}
.navbar-brand {
	font-family: RioGrande;
}
.nav-item {
	font-family: ConeriaScript;
	font-size: large;
	text-shadow: 0.1px 0.1px 1px black, 0 0 20px white;
}
.navbar {
	background-size: 100vw;
    background-color: #c9c9c9;
	box-shadow: 0px 1px 10px 1px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(206, 206, 206)),color-stop(0.273, rgb(199, 199, 199)),color-stop(0.756, rgb(189, 189, 189)),color-stop(1, rgb(234, 234, 234)));
    background-image: -webkit-repeating-linear-gradient(top,rgb(206, 206, 206) 0%,rgb(199, 199, 199) 27.3%,rgb(189, 189, 189) 75.6%,rgb(234, 234, 234) 100%);
    background-image: repeating-linear-gradient(to bottom,rgb(206, 206, 206) 0%,rgb(199, 199, 199) 27.3%,rgb(189, 189, 189) 75.6%,rgb(234, 234, 234) 100%);
    background-image: -ms-repeating-linear-gradient(top,rgb(206, 206, 206) 0%,rgb(199, 199, 199) 27.3%,rgb(189, 189, 189) 75.6%,rgb(234, 234, 234) 100%);
}
body {
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}
#home {
	background-image: url("../img/home.jpg");
	background-color: rgba(0,0,0,0);
}
#home > h1 {
	font-family: RioGrande;
	text-shadow: 0 0 30px white;
	color: rgb(75, 75, 75);
	text-align: center;
}
#home > h2 {
	font-family: ConeriaScript;
	text-shadow: 0 0 2px black, 0 0 20px white;
	color: rgb(75, 75, 75);
}
#about {
    background-image: url("../img/about.jpg");
	background-color: rgba(0,0,0,0);
	font-family: System;
}
#portfolio {
    background-image: url("../img/portfolio.jpg");
	background-color: rgba(0,0,0,0);
}
#contact {
    background-image: url("../img/contact.jpg");
	background-color: rgba(0,0,0,0);
}
#div_transition {
	margin-top: 2%;
}
.panel {
	opacity: 0.9;
	width: 95%;
	margin: auto;
	font-family: System;
	font-weight: bold;
}
.white-border {
	text-shadow: 0 0 30px white;
	font-weight: bold;
}
.required {
	color: red;
}
#portfolioContent {
	opacity: 0.9;
	width: 60%;
	margin: auto;
}
.contactContent {
	opacity: 0.9;
	width: 50%;
	margin: auto;
	margin-top: 10%;
	text-color: white;
}
.comments-label {
	color: white;
	font-family: System;
}
.social-media {
	text-align: center;
	font-family: System;
	color: white;
}


/*==========  Mobile First Method  ==========*/

/* Extra Small Mobile Devices */ 
@media only screen and (min-width : 320px) {
	.navbar-brand {
		font-size: 4vmin;
	}
	#home > h1 {
		font-size: 4vmin;
		margin-top: 25%;
	}
	#home > h2 {
		font-size: 6vmin;
	}
	.panel {
		margin-top: 5em;
		font-size: 3vmin;
	}
	#portfolioContent {
		margin-top: 10%;
	}
}

/* Large Mobile Devices */
@media only screen and (min-width : 425px) {
	.navbar-brand {
		font-size: 2vmin;
	}
	.panel {
		font-size: 5vmin;
	}
	#portfolioContent {
		margin-top: 10%;
	}
}
/* Extra-Large Mobile Devices */
@media only screen and (min-width : 480px) {
	.navbar-brand {
		font-size: 2vmin;
	}
	#home > h1 {
		margin-top: 1.5em;
	}
	#home > h2 {
		font-size: 25vmin;
	}
	.panel {
		margin-top: 4em;
		font-size: 5vmin;
	}
	#portfolioContent {
		margin-top: 10%;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.navbar-brand {
		font-size: 2vmin;
	}
	#home > h1 {
		font-size: 4vmin;
		margin-top: 25%;
	}
	#home > h2 {
		font-size: 6vmin;
	}
	.panel {
		margin-top: 4em;
		font-size: 3vmin;
	}
	#portfolioContent {
		margin-top: 10%;
	}
}
/* Medium Devices, Desktops - No minimum height */
@media only screen and (min-width : 972px){
	.navbar-brand {
		font-size: 2vmin;
	}
	#home {
		background-attachment: fixed;
	}
	#about {
		background-attachment: fixed;
	}
	#portfolio {
		background-attachment: fixed;
	}
	#contact {
		background-attachment: fixed;
	}
	#home > h1 {
		font-size: 4vmin;
		margin-top: 25%;
	}
	#home > h2 {
		font-size: 6vmin;
	}
	.panel {
		margin-top: 15%;
		font-size: 2vmin;
	}
	#portfolioContent {
		margin-top: 10%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.navbar-brand {
		font-size: 3vmin;
	}
	#home {
		background-attachment: fixed;
	}
	#about {
		background-attachment: fixed;
	}
	#portfolio {
		background-attachment: fixed;
	}
	#contact {
		background-attachment: fixed;
	}
	#home > h1 {
		font-size: 6vmin;
		margin-top: 10%;
	}
	#home > h2 {
		font-size: 8vmin;
	}
	.panel {
		margin-top: 15%;
		font-size: 2vmin;
	}
	#portfolioContent {
		margin-top: 5%;
	}
}

/* Extra-Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {
	.navbar-brand {
		font-size: 3vmin;
	}
	#home {
		background-attachment: fixed;
	}
	#about {
		background-attachment: fixed;
	}
	#portfolio {
		background-attachment: fixed;
	}
	#contact {
		background-attachment: fixed;
	}
	#home > h1 {
		font-size: 6vmin;
		margin-top: 10%;
	}
	#home > h2 {
		font-size: 8vmin;
	}
	.panel {
		margin-top: 15%;
		font-size: 2vmin;
	}
	#portfolioContent {
		margin-top: 5%;
	}
}